*, ::before, ::after {
    margin: 0;
    padding: 0; 
    text-decoration: none;
    list-style: none;
}


a, a:hover {
    text-decoration: none;
    
}

button {
    outline: none;
}

input {
    outline: none;
}
body {
    font-family: "Raleway", sans-serif;
    margin: auto; 
    padding: 0;
}
/*---HEADER
-------------------------------------*/
#header {
    display: flex;
    margin-bottom: 1.5rem;
    flex:100%
}
.logo {
    margin-left: 1rem;
    padding-top: 20px;
}
nav {
   display: flex;
   justify-content: space-between;
   height: 80px;
}
nav ul {
    display: flex;
    padding-left: 47rem;;
   }

nav ul li {
    display: flex;
    margin-left: 95px;
    padding-left: 20px;   
}


nav ul li a  {
    padding-top: 20px;
    color: #0065FC;
}

li.activites-btn a {
    color: #000000;
}

a.inscription {
    font-weight: bold;
}
nav .hebergement-btn {
    border-width:2px;    
    border-top-style:solid;
    border-top-color: #0065FC;
    -webkit-transition: all 0.5s ease;                  
    -moz-transition: all 0.5s ease;                 
    -o-transition: all 0.5s ease;   
    -ms-transition: all 0.5s ease;          
    transition: all 0.5s ease;
}

.activites:hover {
    border-color: #0065FC;
    color: #0065FC;
}
/*Moteur de recherche
-----------------------------------*/
.trouver  {
    margin-left: 0rem;
    padding-left: 1rem;
}

.trouver p h3 h6 {
    padding-top: 1em;
    padding-left: 1rem;
    font-size: 1.5em;
    padding: 1.5em;
    margin: 1rem auto;
}

.barderecherche {
    align-items: center;
    display: flex;
    margin: 15px;
    margin-left: 1rem; 
}

.barderecherche i.fas.fa-map-marker-alt {
    background-color:#F2F2F2;
    border-radius: 30% 0 0 30%;
    border-top-width: auto;
    padding: 1.5em;
    font-size: 10px;
    height: 0.5rem; 
    margin-right: -0.2rem;
}

.barderecherche input {
    width: 13rem;
    padding: 0.5em;
    border: 1px solid #F2F2F2;
    margin-left: -0.2rem;
    margin-top: 5px;
    height: 2.3rem;
    background-color: white;
}

.barderecherche button a {
    color:#F2F2F2;
}

.barderecherche button {
    border-radius: 0 0.7rem 0.7rem 0;
    color: white;
    padding: 0.5em;
    margin-left: -0.2rem;
    margin-top: 5px;
    height: 2.2rem;
    background-color: #0984e3;
    border: none;
}

/* Les icones filtres de recherche
-----------------------------------*/

.filtres * {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    list-style-type: none;
}

.filtres .icones {
    border-radius: 50px;
    transition: .4s;
}

.filtres .icones h4 {
    justify-content: center;
    align-items: center;
    margin-left: .5rem;
}

    
.filtres .icones a i h4 {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5rem;
    list-style-type: none;
}

.filtres .icones .fas {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: -1rem;
    margin-top: 0rem;
    border: 0.09rem solid #F2F2F2;
    font-size: 1rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    background: #DEEBFF;
}

.filtres .icones button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    border: 0.01rem solid #F2F2F2;
    font-size: bold;
    height: 3.4rem;
    margin-left: -2rem;
    padding-left: 1rem;
    width: 13rem;
    border-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: relative;
    z-index: -1;
}

.fa-money-bill-wave-alt {
    color: #1877f2;
    filter: drop-shadow(0 0 10px #1877f2);
}

.fa-baby {
    color: #25d366;
    filter: drop-shadow(0 0 3px #25d366);
  }
  
.fa-heart {
    color:  #c32aa3;
    filter: drop-shadow(0 0 3px #c32aa3);
  }
  
.fa-cat {
    color: #1da1f2;
    filter: drop-shadow(0 0 3px #1da1f2);
  }

  .fa-info {
    color: #1da1f2;
  }

  .fa-star {
    color: #1877f2;
  }

.infonombredelogements {
    display: flex;
    margin: 1rem;
    margin-top: 2rem;
}

.infonombredelogements .fas {
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.infonombredelogements p {
    flex: 1;
    margin: 0.5rem;
    padding-left: 0.2rem;
}
/* Section Hebergements
--------------------------*/

 #hebergements {
    display: flex;
    width: 100%;
}

.suites  {
    flex: 70%;
    display: flex;
    background-color: #F2F2F2;
    flex-wrap: wrap;
    border-radius: 20px;
    margin-left: 1.2rem;
    max-width: 1048px;
    width: 70%;
}

#titre_heberg h3 {
    margin-left: 1.5rem;
    padding-top: 2rem;
}

.heberg {
    display: flex;
    object-fit: cover;
    flex-wrap: wrap;
}
.heberg figure {
    width: 30%;
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: 15px;
    background-color: #fff;
}

.heberg figure p {
    vertical-align: center;
    justify-content: space-around;
}

.heberg img {
    display: flex;
    justify-content: space-around;
    object-fit: cover;
    margin: 5px;
    width: 96%;
    height: 112px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.heberg figcaption  {
    align-items: center;
    padding: 10px;
    object-fit: cover;
    align-content: space-around;
    vertical-align: center;
}

/*La colonne les plus populaires*/

aside {
    flex: 30%;
}

.les_plus_populaires {
    flex: 30%;
    margin-left: 3rem;
    display: flex;
    background-color: #F2F2F2;
    flex-wrap: wrap;
    align-content: space-between;
    border-radius: 20px;
    max-width: 450px;
}

.pop {
    flex: 30%;
    object-fit: cover;
    flex-wrap: wrap;
}

#les_plus_pop {
    display: flex;
    padding-left: 1.2rem;
    padding-top: 2rem;
}

#les_plus_pop h3 {
    padding-right: 8rem;
}

.pop figure  {
    display: flex;
    margin-left: 1rem;
    margin-top: 1rem;
    max-width: 400px;
    height: 116px;
    border-radius: 15px;
    background-color: #fff;
    margin: 2rem;
    justify-content: space-around;
}

.pop figure p {
    vertical-align: center;
    justify-content: space-around;
}

.pop img {
    object-fit: cover;
    width: 50%;
    margin: 2px;
    height: 112px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.pop figcaption  {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.pop strong {
    display: flex;
}

.pop .etoiles {
    padding-top: 1.15rem;
}

#plus {
    display: flex;
    margin-left: 1rem;
    margin-top: 2rem;
}

/*Les activités en nature*/

#activites {
    display: flex;
    margin-top: 0.2rem;
}

#titre_activites h3 {
    padding-top: 1.5rem;
    margin-left: 0.5rem;
}
.parc {
    flex: 100%;
}

figure.nature  {
    display: flex;
    flex: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 5px;
}

.figure.nature p {
    vertical-align: center;
    justify-content: space-around;
    padding: 13px;
}

figure.nature img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

figure.nature p {
    padding-top: 1.7rem;
    margin-left: 1rem;
}

.image_1 {
    flex: 25%;
    max-width: 25%;
    height: 350px;
    padding: 0 4px;
}

.image_1 figure  {
    flex: 25%;
    height: 350px;
    margin-top: 1rem;
    border: 1px;
    border-radius: 15px;
    background-color: #f5efef;
}

.image_1 img {
    width: 100%;
    height: 85%;
    vertical-align: middle;
    object-fit: cover;
}

.image_2 {
    flex: 25%;
    max-width: 25%;
    height: 350px;
    padding: 0 4px;
}

.image_2 img {
    width: 100%;
    height: 85%;
    vertical-align: middle;
    object-fit: cover;
}

.image_2 figure  {
    flex: 25%;
    max-width: 100%;
    height: 350px;
    margin-top: 1rem;
    border: 1px;
    border-radius: 15px;
    background-color: #f5efef;
}

.colonne {
    flex: 25%;
    height: 350px;
    max-width: 25%;  
    padding: 0 4px;
}

.colonne figure {
    flex-wrap: wrap;
    height: 167px;
    margin-top: 1rem;
    border: 1px;
    border-radius: 15px;
    background-color: #f5efef;
}

.colonne img {
    width: 100%;
    height: 70%;
    vertical-align: middle;
    object-fit: cover;
}

/*Le pied de page*/

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 1498px;
    padding: 1rem;
    margin-top: 3rem;
    box-sizing: border-box;
}

.liens {
    padding-top: 1.5rem;
}

.footer li {
    padding-bottom: 1.2rem;
}

@media screen and (max-width: 1498px) {
    body main footer #header #herbergements #activites footer {
        flex: 50%;
        max-width: 50%;
    }
}

