*, ::before, ::after {
    margin: 0;
    padding: 0; 
    text-decoration: none;
    list-style: none;
}

a, a:hover {
    text-decoration: none;
    
}

button {
    outline: none;
}

input {
    outline: none;
}
body{
    font-family: "Raleway", sans-serif;
/*margin: auto; */
    padding: 0;
}
/*---HEADER
-------------------------------------*/
#Logo {
    display: flex;
    color: unset;
    cursor: pointer;
    padding-top: 20px;
}
nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 80px;
   padding: 1em;
}
nav ul {
    display: flex;
    flex-flow: row;
    margin-left: auto;
   }

nav ul li {
    display: flex;
    margin-left: 95px;
    list-style-type: none;
    padding-left: 20px;   
}

nav ul li a {
    padding-top: 20px;
    color: #0065FC;
    text-decoration: none;
}

a.inscription {
    font-weight: bold;
}
a.hebergements:hover {
    border-color: #0065FC;
    color: #0065FC;
}

.activites:hover {
    border-color: #0065FC;
    color: #0065FC;
}
/*Moteur de recherche
-----------------------------------*/
.trouver  {
    margin-left: 0rem;
    margin-right: 20rem;
    padding-left: 1rem;
}

.trouver p h3 h6 {
    padding-top: 1em;
    padding-left: 1rem;
    font-size: 1.5em;
    padding: 1.5em;
    margin: 1rem auto;
}

.barderecherche {
    align-items: center;
    display: flex;
    margin: 15px;
    margin-left: 1rem; 
}

.barderecherche i.fas.fa-map-marker-alt {
    background-color:#F2F2F2;
    border-radius: 30% 0 0 30%;
    border-top-width: auto;
    padding: 1.5em;
    font-size: 10px;
    height: 0.5rem; 
    margin-right: -0.2rem;
    /*position: inherit;
    z-index: 1;*/
}

.barderecherche input {
    /*display: flex;*/
    width: 13rem;
    padding: 0.5em;
    border: 1px solid #F2F2F2;
    margin-left: -0.2rem;
    /*padding-left: 1.5rem;*/
    margin-top: 5px;
    height: 2.3rem;
    background-color: white;
    /*position: relative;
    cursor: pointer;
    z-index: -1;*/
}

.barderecherche button a {
    color:#F2F2F2;
}

.barderecherche button {
    border-radius: 0 15% 15% 0;
    color: white;
    padding: 0.5em;
    margin-left: -0.2rem;
    margin-top: 5px;
    height: 2.2rem;
    background-color: #0984e3;
    border: none;
    /*position: relative;
    z-index: 2;*/
}

/* Les icones filtres de recherche
-----------------------------------*/

.filtres * {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 2rem;
    list-style-type: none;
}

.filtres .icones {
    margin: 1rem;
    display: inline-flex;
    cursor: pointer;
    border-radius: 50px;
    transition: .4s;
}

.filtres .icones h4 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: .5rem;
}

    
.filtres .icones a i h4 {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5rem;
    list-style-type: none;
}

.filtres .icones .fas {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: -1rem;
    margin-top: 0rem;
    border: 0.09rem solid #F2F2F2;
    font-size: 1rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    background: #DEEBFF;
    position: inherit;
    z-index: 1;
    opacity: 1;
}

.filtres .icones button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    border: 0.01rem solid #F2F2F2;
    background-color: ;
    font-size: bold;
    height: 3.4rem;
    margin-left: -2rem;
    padding-left: 1rem;
    width: 13rem;
    border-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: relative;
    z-index: -1;
}

.fa-money-bill-wave-alt {
    color: #1877f2;
    filter: drop-shadow(0 0 10px #1877f2);
}

.fa-baby {
    color: #25d366;
    filter: drop-shadow(0 0 3px #25d366);
  }
  
.fa-heart {
    color:  #c32aa3;
    filter: drop-shadow(0 0 3px #c32aa3);
  }
  
.fa-cat {
    color: #1da1f2;
    filter: drop-shadow(0 0 3px #1da1f2);
  }
.infonombredelogements {
    display: flex;
    margin: 1rem;
    padding-left: 0;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.infonombredelogements i .fas {
    border-radius: 30%;
    height: 2rem;
    width: 2rem;
    padding-right: 3rem;
    border: 0.5rem solid #706969;
    background-color: aqua;
}

.infonombredelogements a {
    padding-left: 1rem;
}
/* Section Hebergements
--------------------------*/

 #hebergements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 56px;
}

.suites {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    border-radius: 20px;
    padding: 44px 36px 44px 36px;
    max-width: 1300px;
    width: 90%;
}

figure  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 60px;
}

img {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 16px;
    object-fit: cover;
    width: 236px;
    height: 112px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}