* {
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
}

a, a:hover {
    text-decoration: none;
    
}
body{
    font-family: "Raleway", sans-serif;
/*margin: auto; */
    padding: 0;
}
/*---HEADER
-------------------------------------*/
#Logo {
    display: flex;
    color: unset;
    cursor: pointer;
    padding-top: 20px;
}
nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 80px;
   padding: 1em;
}
nav ul {
    display: flex;
    flex-flow: row;
    margin-left: auto;
   }

nav ul li {
    display: flex;
    margin-left: 20px;
    list-style-type: none;
    padding-left: 20px;   
}

nav ul li a {
    padding-top: 20px;
    color: #0065FC;
    text-decoration: none;
}

a.inscription {
    font-weight: bold;
}

/*Moteur de recherche
-----------------------------------*/
.Trouver  {
    padding: 1em;
}

.Trouver h3 {
    font-size: 1.5em;
}

.barderecherche {
    display: inline-flex;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 10px;
}

.barderecherche i.fas.fa-map-marker-alt {
    background-color:#F2F2F2;
    border-radius: 15px;
    border-top-width: auto;
    padding: 1.5em;
    font-size: 10px;
    height: 5px; 
    margin-right: 0px;
}
.barderecherche button{
    background-color:#F2F2F2;
    border-radius: 15px;
    padding: 1.5em;
}
#search {
    display: inline-flex;
    border-radius: 15px;
    border-top-width: auto;
    background-color: #F2F2F2;
    width: 50%;
    padding: 1.5em;
    font-size: 10px;
    height: 5px; 
    margin-left: 0px;
    border: aliceblue;
    
}
.search  .Rechercher {
    display: inline-flex;
    border-radius: 15px;
    border-top-width: auto;
    background-color: #F2F2F2;
    width: 50%;
    padding: 1.5em;
    font-size: 10px;
    height: 5px; 
    margin-left: 0px;
    border: aliceblue;
}


.filtres *  {
    display: inline-flex;
    margin-left:  0.6rem;
    margin-top: 0rem;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none; 
}


.filtres a {
    display: inline-flex;
    margin-top: 2rem;
    border: 0.1rem solid #F2F2F2;
    font-size: 1rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    margin-left: 9rem;
    background: #DEEBFF;
}

.filtres i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


.filtres button  {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50%;
    height: 3rem;
    margin-left: 1rem;
    border-top-left-radius: 80px 80px;
    border-bottom-left-radius: 80px 80px;
    border-top-right-radius: 80px 80px;
    border-bottom-right-radius: 80px 80px;
    width: 10rem;
    border: 0.1rem solid #F2F2F2;
}

.infonombredelogements {
    display: inline-flex;
    margin: 3px;
}
.infonombredelogements .fas .info {
    display: inline-flex;
    border-radius: 100%;
    margin-left: 3px;
}

/* Section Hebergements
--------------------------*/
.hebergements * {

}
